#root  {
    height: 100vh;
    width: 100vw;
    
    margin: 0px;
    padding: 0px;
}

#screen-container {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

.engine-ui {
    --padding: 30px;
    height: calc(100% - 2 * var(--padding) - 50px);
    width: calc(100% - 2 * var(--padding));

    padding: var(--padding);
    margin: 0px;
}

#tools {
    height: 100%;
    min-width: 20%;
    background-color: red;
}