#root  {
    height: 100vh;
    width: 100vw;
    
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#screen-container {
    height: 100vh;
    width: 100vw;

    margin: 0px;
    padding: 0px;
}

.engine-ui {
    --padding: 30px;
    height: calc(100vh - 2 * var(--padding));
    width: calc(100vw - 2 * var(--padding));

    padding: var(--padding);
    margin: 0px;

    background-color: #555;
    overflow: hidden;
}