.LightSquare {
    --boardheight: min(calc(100vh - 60px), calc(100vw - 360px));
    width: var(--boardheight) / 8;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;

    color: #9b8264;
    background: #f9dec9;
}

.DarkSquare {
    width: var(--boardheight) / 8;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;

    color: #f9dec9;
    background: #9b8264;
}

.LocationContainer {
    padding-left: 3px;
    padding-right: 3px;
    height: 16px;

    text-align: left;
}

.PieceContainer {
    --linesize: calc(var(--boardheight) / 8 - 24px);

    display: flex;
    line-height: var(--linesize);
    justify-content: center;
    align-items: center;

    font-size: calc(var(--linesize) * 1);
    color: black;
}