input:focus,
button:focus {
    outline: none;
}

#tools {
    height: calc(100vh - 90px);
    width: calc(100vw - 100vh - 30px);
    background-color: #333;

    min-width: 270px;

    float: right;
    margin: 0px;

    display: flex;
    flex-direction: column;

    padding: 15px;
}

#fen-tools,
#analysis-tools,
#perft-tools {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}